{% extends 'base.html' %}
{% load static %}


{% block title %} Home {% endblock title %}


{% block style %} {% endblock style %}


{% block header %}
{% component 'head' %}
{% endblock header %}


{% block menu %}
{% component 'menu' %}
{% endblock menu %}


{% block content %}
<div class="part-I">
  {% component 'sidebarCategory' categories=categories %}
  {% component 'carousel' %}
</div>
{% endblock content %}


{% block footer %} {% component 'carousel' %} {% endblock footer %}


{% block js %}
{% component 'carousel' %}
{% component_js_dependencies %}
{% endblock js %}