{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block title %} Home {% endblock title %}


{% block style %} {% endblock style %}


{% block header %}
  {% component 'head' %}
{% endblock header %}


{% block menu %}
  {% component 'menu' %}
{% endblock menu %}


{% block content %}

  <section class="part-I">
    {% component 'sidebarCategory' categories=categories %}
    {% component 'carousel' %}
  </section>
  <section class="part-II">
    <div class="box-title">
      {% include 'svg/flash.html' %}
      <h2>TRENDING NOW</h2>
    </div>
    <div class="flash-container">
      {% component_block "cardWarapper" id="card-warapper1" %}
        {% for product in products %}
          {% component 'productCard' product=product %}
        {% endfor %}
      {% endcomponent_block %}
    </div>
  </section>
{% endblock content %}


{% block footer %} {% endblock footer %}


{% block js %}
  <script src="{% static 'global/js/script.js' %}"></script>
  {% component_js_dependencies %}
{% endblock js %}