Django
django-cloudinary-storage
django-cors-headers
django-extensions
django-modeltranslation
django-rosetta
djangorestframework
djangorestframework-simplejwt
docutils
drf-yasg
gunicorn
Pillow
psycopg2-binary
python-dotenv
six
whitenoise