Django
django-cloudinary-storage
django-cors-headers
django-modeltranslation
django_resized
django-rosetta
djangorestframework
djangorestframework-simplejwt
docutils
drf-yasg
gunicorn
Pillow
psycopg2-binary
python-dotenv
six
tqdm
whitenoise