<section class="head-section">
  <div class="logo">
    <a href="{% url 'home:index' %}">Medine</a>
  </div>
  {% component 'searchBar' %}
  <div class="btn-icons">
    <a href="{% url 'home:index' %}" class="link">
      <span class="cart-count">0</span>
      {% include 'svg/cart.html' %}
    </a>
    <a href="{% url 'home:index' %}" class="link">
      {% include 'svg/favorite.html' %}
    </a>
    <a href="{% url 'home:index' %}" class="link">
      {% include 'svg/user.html' %}
    </a>
    <div class="link theme" data-theme-toggle aria-label="Change to light theme"></div>
  </div>
</section>