{% load static %}


<section class="slides-container">
  <span class="next">&#10095</span>
  <span class="prev">&#10094</span>

  <section class="slides-row">
    <div class="slide" id="lastImageDuplicate">
      <div class="left">
        <h1>Profitez d'une réduction de 50% sur votre premier achat !</h1>
        <strong>Apple iPhone 14 Plus (256 Go) - Bleu</strong>
        <p>Excepturi necessitatibus odit quaerat blanditiis
          itaque ex. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <a href="#">Voir l'offre</a>
      </div>
      <div class="right">
        <img src="{% static 'global/images/iphone14_2.png' %}" alt="">
      </div>
    </div>

    <div class="slide">
      <div class="left">
        <h1>Faites-vous plaisir sans attendre : découvrez nos offres à -50% sur une variété d'articles.</h1>
        <strong>Apple Watch Series 5 40mm (GPS)</strong>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi necessitatibus odit quaerat blanditiis
          itaque ex.</p>
        <a href="#">Voir l'offre</a>
      </div>
      <div class="right">
        <img src="{% static 'global/images/appleWatch.png' %}" alt="">
      </div>
    </div>
    <div class="slide">
      <div class="left">
        <h1>Facilitez votre shopping en payant en 4 fois dès 100€ d'achats.</h1>
        <strong>Sac à Dos Scolaire</strong>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing sit amet consectetur adipisicing sit amet consectetur adipisicing sit amet consectetur adipisicing elit. Excepturi necessitatibus odit quaerat blanditiis
          itaque ex.</p>
        <a href="#">Voir l'offre</a>
      </div>
      <div class="right">
        <img src="{% static 'global/images/backpack.png' %}" alt="">
      </div>
    </div>
    <div class="slide">
      <div class="left">
        <h1>Les dernières tendances à des prix irrésistibles : ne manquez pas nos offres spéciales !</h1>
        <strong>Sneakers Homme</strong>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing sit amet consectetur adipisicing sit amet consectetur adipisicing sit amet consectetur adipisicing elit. Excepturi necessitatibus odit quaerat blanditiis
          itaque ex.</p>
        <a href="#">Voir l'offre</a>
      </div>
      <div class="right">
        <img src="{% static 'global/images/snicker.png' %}" alt="">
      </div>
    </div>
    <div class="slide">
      <div class="left">
        <h1>Découvrez les styles préférés de nos clients et adoptez un look tendance.</h1>
        <strong>Veste Homme</strong>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi necessitatibus odit quaerat blanditiis
          itaque ex.</p>
        <a href="#">Voir l'offre</a>
      </div>
      <div class="right">
        <img src="{% static 'global/images/TShort.png' %}" alt="">
      </div>
    </div>
    <div class="slide">
      <div class="left">
        <h1>Profitez d'une réduction de 50% sur votre premier achat !</h1>
        <strong>Apple iPhone 14 Plus (256 Go) - Bleu</strong>
        <p>Excepturi necessitatibus odit quaerat blanditiis
          itaque ex. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <a href="#">Voir l'offre</a>
      </div>
      <div class="right">
        <img src="{% static 'global/images/iphone14.png' %}" alt="">
      </div>
    </div>
    <div class="slide">
      <div class="left">
        <h1>Profitez d'une réduction de 50% sur votre premier achat !</h1>
        <strong>Apple iPhone 14 Plus (256 Go) - Bleu</strong>
        <p>Excepturi necessitatibus odit quaerat blanditiis
          itaque ex. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <a href="#">Voir l'offre</a>
      </div>
      <div class="right">
        <img src="{% static 'global/images/iphone14_2.png' %}" alt="">
      </div>
    </div>

    <div class="slide" id="firstImageDuplicate">
      <div class="left">
        <h1>Faites-vous plaisir sans attendre : découvrez nos offres à -50% sur une variété d'articles.</h1>
        <strong>Apple Watch Series 5 40mm (GPS)</strong>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi necessitatibus odit quaerat blanditiis
          itaque ex.</p>
        <a href="#">Voir l'offre</a>
      </div>
      <div class="right">
        <img src="{% static 'global/images/appleWatch.png' %}" alt="">
      </div>
    </div>
  </section>

  <section class="dots">
    <div class="dot active"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </section>
</section>