{% extends 'admin/base.html' %}
{% load static %}
{% load i18n %}


{% block extrahead %}
{{ block.super }}
<link rel="shortcut icon" href="{% static 'global/images/favicon.png' %}" type="image/x-icon">

<style>
  :root {
    --primary: #0098a0b3;
    --secondary: #0098a0b3;
    --accent: #FFF;
    --primary-fg: #FFF;
    --header-color: #FFF;
    /* --darkened-bg: rgb(205, 22, 22); */
  }
</style>
{% endblock %}



{% block userlinks %}
{{ block.super }}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% for language in languages %}
<a class="dropdown-item" href="/{{language.code}}/admin/">/ {{ language.name_local }}</a>
{% endfor %}
{% endblock userlinks %}