{% extends 'admin/base.html' %}
{% load static %}
{% load i18n %}


{% block extrahead %}
{{ block.super }}
<link rel="shortcut icon" href="{% static 'global/images/favicon.png' %}" type="image/x-icon">

<style>
  html[data-theme="light"], html[data-theme="dark"], :root {
    --primary: #460613;
    --secondary: #8c0520;
    --accent: #FFF;
    --primary-fg: #FFF;
    --header-color: #FFF;
    --selected-row: #9d1933;
    /* --darkened-bg: #8b8888; */
  }
</style>
{% endblock %}



{% block userlinks %}
{{ block.super }}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% for language in languages %}
<a class="dropdown-item" href="/{{language.code}}/admin/">/ {{ language.name_local }}</a>
{% endfor %}
{% endblock userlinks %}