{% load static %}

<section class="head-section">
  <div class="logo">
    <a href="{% url 'home:index' %}">Medine</a>
  </div>
  <form action="{% url 'home:index' %}" class="search">
    <div class="select-category">
      <select name="category">
        <option value="all">Toutes nos catégories</option>
        <option value="montre">montre</option>
        <option value="légumes">légumes</option>
        <option value="accessoires">accessoires</option>
      </select>
    </div>
    <input type="search" name="product" placeholder="Recherchez un produit ou une marque">
    <button type="submit">
      {% include 'svg/search.html' %}
    </button>
  </form>
  <div class="btn-icons">
    <!-- <a href="{% url 'home:index' %}">
      {% include 'svg/search.html' %}
    </a> -->
    <a href="{% url 'home:index' %}" class="link">
      <span class="cart-count">0</span>
      {% include 'svg/cart.html' %}
    </a>
    <a href="{% url 'home:index' %}" class="link">
      {% include 'svg/user.html' %}
    </a>
    <div href="{% url 'home:index' %}" class="link theme" id="dark">
      {% include 'svg/dark.html' %}
    </div>
  </div>
</section>

<section class="menu-section">
  <ul>
    <li>
      <a href="{% url 'home:index' %}">Accueil</a>
    </li>
    <li>
      <a href="{% url 'home:index' %}">Produits</a>
    </li>
    <li>
      <a href="{% url 'home:index' %}">Nouveautés</a>
    </li>
    <li>
      <a href="{% url 'home:index' %}">Mes Commandes</a>
    </li>
    <li>
      <a href="{% url 'admin:index' %}">Contact</a>
    </li>

  </ul>
</section>