django@latest
django-cloudinary-storage@latest
django-colorfield@latest
django-components@latest
django-cors-headers@latest
django-modeltranslation@latest
django-resized@latest
django-rosetta@latest
djangorestframework@latest
djangorestframework-simplejwt@latest
docutils@latest
drf-yasg@latest
gunicorn@latest
pillow@latest
psycopg2-binary@latest
python-dotenv@latest
six
tqdm@latest
whitenoise@latest