django
django-cloudinary-storage
django-colorfield
django-components
django-cors-headers
django-debug-toolbar
django-developmentemaildashboard
django-extensions 
django-modeltranslation
django-resized
django-rosetta
djangorestframework
djangorestframework-simplejwt
docutils
drf-yasg
faker
gunicorn
pillow
pre-commit
psycopg2-binary
python-dotenv
ruff
six
tqdm
whitenoise
zroya