django
django-cloudinary-storage
django-colorfield
django-components
django-cors-headers
django-modeltranslation
django-resized
django-rosetta
djangorestframework
djangorestframework-simplejwt
docutils
drf-yasg
gunicorn
pillow
psycopg2-binary
python-dotenv
six
tqdm
whitenoise